html, body {
  background-color: var(--background-main);
}

main {
  background-color: var(--background-body);
  border-radius: 10px;
  font-family: Heletica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, BIZ UDPGothic, Meiryo, sans-serif;
  margin: 24px auto;
  max-width: 1270px;
  padding: 24px;
}

@media screen and (max-width: 1270px) {
  main {
    margin: 24px;
  }
  
}
